/* @mixin for-size($range) {
  $phone-upper-boundary: 700px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == tablet-portrait-up {
    .wrapper {
      grid-template-columns: 200px;
    }
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
} */

@font-face {
    font-family: "Roboto-Bold";
    src: url('Roboto-Bold.ttf'),
    url('Roboto-Bold.eot'); /* IE */
}
html body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  justify-content: center;
  align-items: center;
}
.backdrop {
  margin:0px;
  background-color: #2c3e50;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.banner-title{
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 48px;
  width: 100%;
  vertical-align: baseline;
}
.banner {
  text-align: left;
  margin: 0;
  background-color: #34495e;
  height: 100px;
  margin:0px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  padding-top: 115px;
}
.banner.bottom {
  bottom: 0;
  margin-top: 1em;
  margin-bottom: 0;
  padding-top: 1em;
  text-align: right;
  box-shadow: 0 -2px 5px rgba(0,0,0,.26);
  position: fixed;
  width: 100%;
}
.header-wrapper {
  padding-left: 0;
}
.outlined-text {
  outline-color: #ecf0f1;
}
.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
  grid-gap: 100px;
  color: #444;
  justify-content: center;

}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  padding: 2em;
  text-align: center;
}
.rating {
  font-size: 200%;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
